<h1>Search for deals on games</h1>
<%= form_for @conn.params["search"] || %{}, ~p"/search", [as: :search], fn f -> %>
  <%= text_input f, :search_term %>
  <%= submit "Search", class: "bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded" %>
<% end %>
